<script>
    $(function () {
      // Setup drop down menu
      $('.dropdown-menu').dropdown();

      // Fix input element click problem
      $('.dropdown-menu input, .dropdown-menu label').click(function (e) {
        e.stopPropagation();
      });

      // Remove dropdown when Sign In button is clicked
      $('#submit').click(function (e) {
        $('.dropdown-menu').dropdown('toggle');
      });
    });
</script>
<div class="navbar navbar-static-top"> <!-- ng-controller="MyCtrl1" -->
      <div class="navbar-inner">
        <div class="container">

            <!-- Site name -->
            <a class="brand">Andy's Sweet Test Site</a>

            <!-- Start of the nav bar content -->
            <div class="nav-collapse"><!-- Other nav bar content -->
              
              <!-- Drop down menu -->
              <ul class="nav pull-right">
                <li><a href="#/signup" ng-show="!loggedIn">Sign Up</a></li>
                <li class="divider-vertical" ng-show="!loggedIn"></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-show="!loggedIn">Sign In <strong class="caret"></strong></a>
                  <div class="dropdown-menu">
                    
                    <!-- Login form here -->
                    <form method="post" accept-charset="UTF-8" name="myForm">
                      <div class="control-group" ng-class="{'success': myForm.username.$error.unique }">
                      <input id="user_username" type="text" name="username" size="30" placeholder="Username" ng-model="user.username" required ng-unique/>
                      </div>
                      <input id="user_password" type="password" name="password" size="30" placeholder="Password" ng-model="user.password" required/>
                      <input id="user_remember_me" type="checkbox" name="remember_me" value="1" ng-model="user.remember"/>
                      <label class="string optional" for="user_remember_me">Remember me</label>
                      <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Sign In" ng-click="signin()" />
                    </form>
                  </div>
                </li>
                <li><a href="" ng-show="loggedIn">Welcome, {{loggedInUser}}.</a></li>
                <li class="divider-vertical" ng-show="loggedIn"></li>
                <li><a href="" ng-show="loggedIn" ng-click="logout()">Log Out </a></li>
              </ul>
            </div>
          </a>
        </div>
      </div>
    </div>
    <ul class="menu">
      <li><a href="#/view1">view1</a></li>
      <li><a href="#/signup">Signup</a></li>
    </ul>
<table class="table table-condensed table-striped table-hover" style="width: 50%;">
	<thead>
		<tr>
			<td>Rank</td>
			<td>Margin</td>
			<td>Team</td>
			<td>Points scored</td>
			<td>Scored against</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in sortedTable">
			<td>{{$index + 1}}</td>
			<td>{{item.pointMargin}}</td>
			<td>{{item.team}}</td>
			<td>{{item.offPoints}}</td>
			<td>{{item.defPoints}}</td>
		</tr>
	</tbody>
</table>